*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "m ebold";
    src: url(../font/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: "m medium";
    src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "m light";
    src: url(../font/Montserrat-Light.ttf);
}
@font-face {
    font-family: "m bold";
    src: url(../font/Montserrat-Bold.ttf);
}
.body{
    overflow-x: hidden;
}
.container{
    width: 1440px;
    height: 7401px;
    margin: auto;
}
.header{
    width: 1440px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
display: flex;
justify-content: center;
align-items: center; 
font-family: "m bold";
font-size: 14px;
color: #A23326;  
}
.menu_p{
    margin-left: 32px;
}
.header_btn{
    margin-left: 493px;
}
.btn{
    
    width: 128px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #721721;
    font-family: "m bold" ;
    font-size: 14px;
    color: white;
}
.btn:hover{
background-color: #A23326;
}
.hero{
margin-top: 96px;
display: flex;
}
.text{
    margin-top: 113px;
    margin-right: 80px;
}
.hero_p_zag{
    font-family: "m ebold";
    font-size: 48px;
    color: #A23326;
    margin-left: 160px;
    margin-bottom: 32px;
}
.hero_p{
    font-family: "m medium";
    font-size: 18px;
    color: black;
    margin-left: 160px;
    margin-bottom: 32px;
    
}
.hero_btn{
    margin-left: 160px;
}

.CTA{
    margin-top: 96px;
    width: 1120px;
    height: 1190px;
}
.cta__p{
    font-family: "m ebold";
    font-size: 40px;
    margin-bottom: 64px;
    margin-left: 469px;
    color: #A23326;
}

.rec{
width: 320px;
height: 230px;
background: #FFFFFF;
box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 32px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.rec_blog{
width: 320px;
height: 198px;
background: #FFFFFF;
box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 32px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.happy{
    font-family: "m medium";
font-size: 18px;
color: #3D3D4E;
margin-top: 32px;
text-align: center;
}
.cta_btn{
    margin-top: 32px;
    
}
.cart1_img{
    margin-top: -287px;
    margin-left: -32px;
}
.cart1{
    margin-right: 64px;
}
.cart2{
margin-right: 64px;
}
.cart4{
margin-right: 64px;
}
.cart5{
margin-right: 64px;
}

.cart11{
margin-left: 64px;
}
.cart12{
margin-left: 32px;
}
.cart13{
margin-left: 32px;
}
.grup1{
    display: flex;
    margin-left: 192px;
    margin-top: 331px;
}
.grup2{
    display: flex;
    margin-left: 192px;
    margin-top: 300px;
}
.features{
    display: flex;
    flex-direction: column;
    margin-top: 96px;

}
.features_zagol{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "m ebold";
    font-size: 40px;
    color: #A23326;
}
.features_grip{
    display: flex;
    align-items: center;
    margin-top: 64px;
    margin-left: 160px;
}
.carte1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 32px;
width: 352px;
height: 335px;
box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 128px 32px 32px 32px;
}
.carte2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 32px;
margin-top: 32px;
width: 352px;
height: 335px;
box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 128px 32px 32px 32px;
}
.carte3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 352px;
height: 335px;
box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 128px 32px 32px 32px;
}
.features__p_zag{
    font-family: "m medium";
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.features__p{
    font-family: "m light";
    font-size: 16px;
    text-align: center;
}
.contores{
display: flex;
align-items: center;

width: 1120px;
height: 146px;
margin-top: 96px;
margin-left: 160px;
background: linear-gradient(0deg, #EEEEEE 0%, rgba(134, 34, 45, 0.25) 100%);
border-radius: 32px 128px 32px 32px;
}
.cifra1{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 119px;
}
.cifra2{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 285px;
}
.cifra3{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 261px;
}
.cifra{
    color: #86222D;
    font-family: "m ebold";
    font-size: 28px;
}
.contores__p{
    font-family: "m light";
    font-size: 16px;
}
.ctaphoto{
height: 600px;
display: flex;
align-items: center;
margin-top: 160px;
background: rgba(243, 217, 172, 0.1);
width: 100vw;
position: relative;
left: 50%;
transform: translateX(-50%);
}
.ctaphoto_img{
    margin-left: 195px;
    margin-top: -64px;
}
.search{
    width: 544px;
    height: 54px;
    border: none;
    font-family:"m light";
    font-size: 14px;
}
.search_grup{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    width: 600px;
}
.ctaphoto_zag{
    font-family:"m ebold";
    font-size: 28px;
    color: #A23326;
    margin-bottom: 32px;
}
.name{
    margin-bottom: 32px;
}
.number{
    margin-bottom: 32px;
}
.foto{
    margin-bottom: 32px;
}
.ctaphoto_btn{
    margin-left: 1px;
}
.process{
    margin-top: 96px;
    display: flex;
    align-items: center;
flex-direction: column;
}
.process_zag{
font-family: "m ebold";
font-size: 40px;
color: #A23326;

}
.process_img{

    margin-top: -100px;
}
.cardd1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 256px;
height: 246px;
background: linear-gradient(180deg, #F3D9AC 0%, #FFF9F9 100%);
border-radius: 32px;
}
.cardd2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 256px;
height: 256px;
background: linear-gradient(180deg, rgba(134, 34, 45, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
border-radius: 32px;
margin-left: 32px;
}
.cardd3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 256px;
height: 260px;
background: linear-gradient(180deg, rgba(102, 36, 20, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
border-radius: 32px;
margin-left: 32px;
}
.cardd4{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 256px;
height: 260px;
background: linear-gradient(180deg, rgba(162, 51, 38, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
border-radius: 32px;
margin-left: 32px;
}
.cardd_grup{
    display: flex;
    align-items: center;
    margin-top: 164px;
}
.cardd_zag{
    font-family:"m medium";
    font-size: 18px;
    margin-top: 32px;
    color: #A23326;
}
.cardd_osn{
    font-family: "m light";
    font-size: 16px;
    margin-top: 32px;
    text-align: center;
    color: #A23326;
}
.feedback_zag{
font-family: "m ebold";
font-size: 40px;
color: #A23326;
}
.gryp_cardd{
    display: flex;
    align-items: center;
    margin-top: 64px;
}
.curd1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 32px;
width: 352px;
height: 361px;
background: #FFFFFF;
border-radius: 128px 32px 32px 32px;

filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.5));
}
.curd_kov{
    font-family: "m light";
    font-size: 96px;
}
.curd_osn{
    font-family: "m light";
    font-size: 14px;
}
.curd_name{
    font-family: "m medium";
    font-size: 18px;
    margin-top: 16px;
}
.curd_img{
    margin-top: 16px;
}
.curd_img2{
    margin-bottom: -100px;
}
.curd2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 32px;
width: 352px;
height: 361px;
background: #FFFFFF;
border-radius: 128px 32px 32px 32px;

filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.5));
}
.curd3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 352px;
height: 361px;
background: #FFFFFF;
border-radius: 128px 32px 32px 32px;

filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.5));
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 96px;
}
.ctachoose{
width: 1440px;
height: 600px;
margin-top: 196px;
display: flex;
align-items: center;
position: relative;
}
.ctachoose::before{
content: '';
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
width: 100vw;
height: 100%;
background: rgba(243, 217, 172, 0.1);
z-index: -1;
}
.ctachoose_zag{
    font-family: "m ebold";
    font-size: 28px;
    color: #A23326;
}
.ctachoose_osn{
    font-family: "m light";
    font-size: 16px;
    margin-top: 32px;
}
.ctachoose_name{
    margin-top: 32px;
}
.ctachoose_number{
    margin-top: 32px;
}
.ctachoose_search{
    margin-top: 32px;
}
.ctachoose_btn{
    margin-top: 32px;
    margin-right:300px;
}
.search_grop{
    margin-left: 160px;
}
.ctachoose_img{
    margin-right: 160px;
}
.blog{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
}
.blog_zag{
    font-family: "m ebold";
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A23326;

}
.grap{
    margin-top: 331px;
    display: flex;
    align-items: center;
    margin-left: 160px;
}
.detalis{
height: 600px;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 160px;
position: relative;
}
.detalis::before{
content: '';
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
width: 100vw;
height: 100%;
background: rgba(243, 217, 172, 0.1);
z-index: -1;
}
.detalis_grup{
    margin-left: 160px;
}
.detalis_zag{
    font-family: "m ebold";
    font-size: 28px;
    color: #A23326;

}
.detalis_osn{
    font-family: "m light";
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.detalis_img{
    margin-right: 160px;
    margin-top: -64px;
    max-width: 500px;
    width: 500px;
}
.inst{
    margin-left: 32px;
    margin-right: 32px;
}
.frame{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 32px;
width: 1120px;
height: 328px;
background: linear-gradient(79.59deg, #662414 0%, rgba(204, 72, 40, 0.75) 100%);
border-radius: 128px 32px 32px 32px;
margin-left: 160px;
margin-top: 96px;
}
.frame_zag{
font-family: "m ebold";
font-size: 28px;
margin-top: 64px;
color: white;
}
.frame_osn{
    font-family: "m light";
    font-size: 16px;
    color: white

}
.frame_grup{
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-left: 96px;
}
.frame_btn{
    color: black;
    background-color: white;
}
.footer{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 96px;
    position: relative;
}
.stolb{
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    padding-left: 160px;
    box-sizing: border-box;
    position: relative;
}
.stolb::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: rgba(243, 217, 172, 0.1);
    z-index: -1;
}
.stolb_zag{
    font-family: "m medium";
    font-size: 16px;
    color: #A23326;
}
.stolb_osn{
    font-family: "m light";
    font-size: 14px;
    margin-top: 32px;
}
.stolb_img{
    margin-bottom: px;
}
.copyright{
    font-family: "m light";
    font-size: 16px;
}
.stolb2{
margin-left: 94px;
}
.stolb3{
margin-left: 172px;
}
.stolb4{
margin-left: 150px;
margin-bottom: 86px;
}
.footer_grup1{
    display: flex;
    align-items: center;
}
.footer_grup2{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 101px;
position: relative;
}
.footer_grup2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: rgba(243, 217, 172, 0.25);
    z-index: -1;
}
.footer_btn{
    margin-top: 32px;
}

@media (max-width: 390px) {

    .body {
        overflow-x: hidden;
    }

    .container {
        width: 390px;
        height: auto;
        margin: 0;
        padding: 0;
    }

    /* HEADER */
    .header {
        width: 390px;
        height: auto;
        flex-direction: column;
        padding: 16px;
        gap: 12px;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        font-size: 12px;
    }
    .menu_p {
        margin-left: 12px;
    }
    .header_btn {
        margin-left: 0;
    }

    /* HERO */
    .hero {
        flex-direction: column;
        margin-top: 32px;
        align-items: center;
    }
    .text {
        margin-top: 32px;
        margin-right: 0;
    }
    .hero_p_zag {
        font-size: 28px;
        margin-left: 24px;
        margin-bottom: 16px;
    }
    .hero_p {
        font-size: 14px;
        margin-left: 24px;
        margin-bottom: 16px;
    }
    .hero_btn {
        margin-left: 24px;
    }
    .group18 {
        width: 340px;
        margin: 16px auto 0;
    }

    /* CTA - СЛАДОСТИ НА ПРАЗДНИК */
    .CTA {
        width: 390px;
        height: auto;
        margin-top: 48px;
    }
    .cta__p {
        font-size: 24px;
        margin-left: 0;
        text-align: center;
        margin-bottom: 32px;
    }
    .grup1, .grup2 {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 32px;
        gap: 300px;
    }
    .cart1, .cart2, .cart3, .cart4, .cart5, .cart6 {
        margin-right: 0;
        margin-bottom: 280px;
    }
    .rec {
        width: 320px;
        height: 230px;
    }

    /* FEATURES - ПОЧЕМУ МЫ */
    .features {
        margin-top: 48px;
    }
    .features_zagol {
        font-size: 24px;
    }
    .features_grip {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 32px;
        gap: 24px;
    }
    .carte1, .carte2, .carte3 {
        width: 340px;
        margin-right: 0;
        margin-top: 0;
    }

    /* CONTORES - ЦИФРЫ */
    .contores {
        width: 350px;
        margin-left: 20px;
        flex-direction: column;
        height: auto;
        padding: 24px 0;
        gap: 16px;
        border-radius: 32px;
    }
    .cifra1, .cifra2, .cifra3 {
        margin-left: 0;
    }

    /* CTAPHOTO */
    .ctaphoto {
        flex-direction: column;
        height: auto;
        padding: 24px 0;
        margin-top: 48px;
    }
    .ctaphoto_img {
        width: 340px;
        margin-left: 0;
        margin-top: 0;
    }
    .search_grup {
        margin-left: 0;
        width: 350px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .search {
        width: 100%;
    }
    .ctaphoto_zag {
        font-size: 22px;
        margin-top: 24px;
    }

    /* PROCESS */
    .process {
        margin-top: 48px;
    }
    .process_zag {
        font-size: 24px;
        text-align: center;
        padding: 0 16px;
    }
    .cardd_grup {
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        gap: 24px;
    }
    .cardd1, .cardd2, .cardd3, .cardd4 {
        margin-left: 0;
        width: 340px;
    }
    .process_img {
        margin-top: 0;
    }

    /* FEEDBACK */
    .feedback {
        margin-top: 48px;
    }
    .feedback_zag {
        font-size: 22px;
        text-align: center;
        padding: 0 16px;
    }
    .gryp_cardd {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 32px;
    }
    .curd1, .curd2, .curd3 {
        margin-right: 0;
        width: 340px;
    }

    /* CTACHOOSE */
    .ctachoose {
        width: 390px;
        height: auto;
        flex-direction: column;
        padding: 32px 0;
        margin-top: 48px;
    }
    .search_grop {
        margin-left: 20px;
        width: 350px;
    }
    .ctachoose_zag {
        font-size: 22px;
    }
    .ctachoose_btn {
        margin-right: 0;
    }
    .ctachoose_img {
        width: 340px;
        margin-right: 0;
        margin-top: 24px;
    }
    .search.ctachoose_name,
    .search.ctachoose_number,
    .search.ctachoose_search {
        width: 100%;
        box-sizing: border-box;
    }

    /* BLOG */
    .blog {
        margin-top: 48px;
    }
    .blog_zag {
        font-size: 24px;
    }
    .grap {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 32px;
        gap: 24px;
    }
    .rec_blog {
        width: 340px;
    }

    /* DETALIS - КОНТАКТЫ */
    .detalis {
        flex-direction: column;
        height: auto;
        padding: 32px 0;
        margin-top: 48px;
    }
    .detalis_grup {
        margin-left: 24px;
    }
    .detalis_zag {
        font-size: 22px;
    }
    .detalis_img {
        width: 340px;
        margin-right: 0;
        margin-top: 24px;
        margin-left: 24px;
    }

    /* FRAME - СДЕЛАЙ ЗАКАЗ */
    .frame {
        width: 350px;
        margin-left: 20px;
        height: auto;
        padding: 32px 16px;
        border-radius: 32px;
    }
    .frame_zag {
        margin-top: 0;
        font-size: 22px;
    }

    /* FOOTER */
    .footer {
        height: auto;
        margin-top: 48px;
    }
    .stolb {
        flex-direction: column;
        height: auto;
        padding: 32px 24px;
        align-items: flex-start;
        gap: 24px;
    }
    .stolb2, .stolb3, .stolb4 {
        margin-left: 0;
        margin-bottom: 0;
    }
    .footer_grup2 {
        height: 60px;
    }
}
